html {
  font-size: 8vmin;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 20vmin;
  text-align: center;
  margin: 0;
  padding: 20vh 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 15vmin;
  text-align: left;
}

p, li {
  font-size: 8vmin;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #ec9544;
}

body {
  width: 94vw;
  margin: 1vh 1vw;
  background-color: #fdfdfc;
  padding: 0px 0px 0px 0px;
  border: 2vmax solid black;
}

img {
  display: block;
  margin: auto auto;
}
